<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:a="http://schemas.android.com/apk/res/android"
          package="com.softwaresmithy"
          a:versionCode="1"
          a:versionName="0.5">
  <uses-permission a:name="android.permission.INTERNET"/>
  <uses-permission a:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-sdk a:minSdkVersion="8" a:targetSdkVersion="11"/>

  <!-- Icon based on OCALs: http://www.clker.com/clipart-person-reading-book1.html as of NOV 06 2011 -->
  <application a:icon="@drawable/personreading" a:label="@string/app_name" a:debuggable="true">
    <activity a:name=".Wishlist"
              a:label="@string/app_name"
              a:icon="@drawable/personreading"
              a:launchMode="singleTop">
      <intent-filter>
        <action a:name="android.intent.action.MAIN"/>
        <category a:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
      <intent-filter>
        <action a:name="android.intent.action.SEND"/>
      </intent-filter>
    </activity>
    <activity a:name=".EditItem"/>
    <activity a:name=".preferences.Preferences"/>
    <activity a:name=".DataImportExport"/>
    <service a:label="Notification Service" a:name="NotificationService"/>
  </application>
</manifest>