body{
	margin: 0;
	padding: 0;
	color: #000;
	background-color: #ddd;
	overflow: hidden;
}
div{
	overflow: hidden;
	white-space: nowrap;
}

#banner{
	background-image: url(/BookTracker/images/books.jpg);
	background-repeat: repeat;
	border-bottom: 1px solid #333;
	height: 70px;
}
#banner #amazSearch {
	float: right;
	margin-top: 1.5em;
}
#banner #amazSearch #text{
	float: left;
}
#banner #amazSearch #button{
	float: right;
}
#banner h1{
	margin: 0;
	padding: .5em;
	color: #FFFFFF;
	float: left;
}

#nav{
	float: left;
	width: 160px;
	background-color: #999999;
	height: 100%;
	border-top: 0px solid black;
}
#nav ul {
	list-style-type: none;
	padding-left: 20px;
}
#nav img {
	width: 25px;
}
#content{
	height: 100%;
}

#footer{
	background-color: #666;
	padding: 1px 1px 1px 0;
	text-align: right;
	border-top: 1px solid #333;
	bottom: 0px;
	width: 100%;
	height: 25px;
}
#footer a {
	cursor: pointer;
}
#results {
	display: none;
}
#tags {
	display: block;
}
.login {
	position: absolute;
	top: 0px;
	right: 0px;
	background-color: brown;
	overflow: visible;
}
#divider {
	background-color:black;
	cursor:col-resize;
	float:left;
	height:100%;
	width:3px;
}
#error {
	float: left;
	color: darkRed;
	margin-left: 5px;
}