#amazon{
	width: 478px;
	overflow-y: auto;
}
#amazon .entry {
	height: 166px;
	border-bottom: 1px solid black;
	background-color: beige;
}
#amazon .entry div {
	white-space: normal;
}
#amazon img {
	padding: 3px 3px 3px 10px;
	float: left;
}
#amazon .title {
	font-size: x-large;
	font-weight: bold;
	height: 75px;
	overflow: hidden;
}
#amazon .tags {
	font-size: smaller;
	height: 42px;
}
#amazon .data {
	float: right;
	width: 390px;
}
#amazon .left {
	width: 70px;
	float: left;
}
#amazon .left a {
	float: left;
	padding-left: 7px;
	font-size: small;
}
#pages {
	border-bottom:2px solid;
	text-align: center;
}