	#amazon{
		width: 478px;
		background-color: beige;
		overflow-y: auto;
	}
	.entry {
		height: 166px;
		border-bottom: 1px solid black;
	}
	.entry div {
		white-space: normal;
	}
	img {
		padding: 3px 3px 3px 10px;
		float: left;
	}
	.title {
		font-size: x-large;
		font-weight: bold;
		height: 75px;
		overflow: hidden;
	}
	.tags {
		font-size: smaller;
		height: 42px;
	}
	.data {
		float: right;
		width: 390px;
	}
	.left {
		width: 70px;
		float: left;
	}
	.left a {
		float: left;
		padding-left: 7px;
	}