span {
	padding-left: 4px;
	padding-right: 4px;
	cursor: pointer;
}
.tag0{
	font-size: .58em;
}
.tag1{
	font-size: 1.2em;
}
.tag2{
	font-size: 1.7em;
}
.tag3{
	font-size: 2.3em;
}
.tag4{
	font-size: 2.9em;
}
.tag5{
	font-size: 3.5em;
}
.tag6{
	font-size: 4.0em
}
#tagCloud {
	white-space: normal;
	overflow-y: auto;
}
#limits {
	border-bottom: 2px solid;
}
#limits a {
	text-decoration: none;
	padding-right: 4px;
	color: #000000;
	cursor: pointer;
}
#limits a:hover{
	text-decoration: line-through;
}