body{
	margin: 0;
	padding: 0;
	color: #000;
	background-color: #ddd;
	overflow: hidden;
}
.columnDivider{
	position: fixed;
	width: 2px;
	margin-left: -2px;
	cursor: col-resize;
	background-color: #BBBBBB;
}
div{
	overflow: hidden;
	white-space: nowrap;
}
td{
	padding-left: 4px;
	padding-right: 4px;
}
thead tr td{
	background-color: #888888;
	font-weight: bold;
	cursor: pointer;
}

#container{
	background-color: #FFF;
	overflow: auto;
	float: left;
}

#banner{
	background-image: url(/BookTracker/images/books.jpg);
	background-repeat: repeat;
	border-bottom: 1px solid #333;
}

#banner h1{
	margin: 0;
	padding: .5em;
	color: #FFFFFF;
}

#nav{
	float: left;
	width: 160px;
	padding-left: 10px;
	padding-top: 1em;
	position: absolute;
	left:0px;
	background-color: #999999;
	height: 100%;
}
#tableDiv {
	margin-left: 180px;
}
#nav p { margin-top: 0; }

#sizable {
	float: left;
}

#content{
	padding-top: 1em;
	margin-left: 180px;
	position: absolute;
}

#footer{
	clear: both;
	background-color: #666;
	padding: 1em 1em 1em 0;
	text-align: right;
	border-top: 1px solid #333;
	bottom: 0px;
	position: absolute;
	width: 100%;
}
#right {
	background-color: #AAAAAA;
	float: right;
	height: 100%;
	right: 0px;
	width: 400px;
	white-space: normal;
}
.login {
	float:left;
	margin: 0 4px 0 0;
}