body
{
	margin: 0;
	padding: 0;
	font-family: georgia, times, "times new roman", serif;
	color: #000;
	background-color: #ddd;
	overflow: hidden;
}

#container
{
	background-color: #FFF;
	background-image:  url(/BookTracker/images/background.jpg);
	background-repeat: repeat-y;
	border: 1px solid #333;
	overflow: auto;
}

#banner
{
	background-color: #666;
	border-bottom: 1px solid #333;
}

#banner h1
{
	margin: 0;
	padding: .5em;
}

#nav
{
	float: left;
	width: 160px;
	margin-left: 10px;
	padding-top: 1em;
	position: absolute;
}

#nav p { margin-top: 0; }

#sizable {
	margin-left: 180px;
}

#content
{
	padding-top: 1em;
	margin-left: 180px;
	position: absolute;
}

#content h2 { margin-top: 0; }

#footer
{
	clear: both;
	background-color: #666;
	padding: 1em 1em 1em 0;
	text-align: right;
	border-top: 1px solid #333;
	bottom: 0px;
	position: absolute;
	width: 100%;
}

.login {
	float:right;
	margin: 0 4px 0 0;
}