body{
	margin: 0;
	padding: 0;
	color: #000;
	background-color: #ddd;
	overflow: hidden;
}
div{
	overflow: hidden;
	white-space: nowrap;
}

#banner{
	background-image: url(/BookTracker/images/books.jpg);
	background-repeat: repeat;
	border-bottom: 1px solid #333;
}

#banner h1{
	margin: 0;
	padding: .5em;
	color: #FFFFFF;
}

#nav{
	float: left;
	width: 160px;
	background-color: #999999;
	height: 100%;
}

#content{
	height: 100%;
}

#footer{
	background-color: #666;
	padding: 1em 1em 1em 0;
	text-align: right;
	border-top: 1px solid #333;
	bottom: 0px;
	width: 100%;
}
#results {
	display: none;
}
#tags {
	display: none;
}
.login {
	float:left;
	margin: 0 4px 0 0;
}